# Build outputs
bin/
obj/
_publish/
.vs/

# User / IDE
*.user
*.suo

# Runtime generated config
WinSxS_Cleanup_Tool.json

# Release artifacts
*.exe
*.zip
/Properties

# release helpers / logs
__debug.log
__release_debug.log
release-run.cmd
release-debug.cmd

release.cmd
release-debug_FIXED.cmd
release-run_FIXED.cmd
release_FIXED.cmd
